<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../static/css/HW6_CSCI571.css">
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/data.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
    <script src="../static/js/HW6_CSCI571.js" defer></script>

</head>

<body>

    <div class="stock_search_head">
        <div id="search_menu">
            <div class="stock_search_text">
                Stock Search
            </div>
            <!-- <div class="stock_search_area"> -->
                <form class="stock_search_area" onsubmit="return false" autocomplete="off">
                    <button type= "submit" onclick="searchCompany()"  class="search_button"><img class="search_image" src="../static/image/search-solid.svg" alt="search" width="15" height="15"> </button>
                    <input type="text" id="stock_search_input" placeholder="Enter Stock Ticker Symbol"
                        onkeydown="if (event.keyCode == 13) searchCompany()" required>


                    <img src="../static/image/times-solid.svg" alt="search" class="clear_search_button" width="15" height="15"
                        onclick="onCrossClick()">
                </form>
                <!-- <div class="arrow-up"></div> -->
                <!-- <div class="error_tooltip">Please fill out this field.</div> -->
            <!-- </div> -->

        </div>
    </div>
    <div class="error_company" id="error_company">
        Error : No record has been found, please enter a valid symbol
    </div>

    <div id="company_info">

        <div class="tab">
            <button class="tablinks active" onclick="openStockSummaryTab(event, 'company_info_tab')">Company</button>
            <button class="tablinks" onclick="openStockSummaryTab(event, 'stock_summary_tab')">Stock Summary</button>
            <button class="tablinks" onclick="openTab(event, 'charts_tab')">Charts</button>
            <button class="tablinks" onclick="openStockSummaryTab(event, 'latest_news_tab')">Latest News</button>
        </div>
        <div id="company_info_tab" class="tabcontent">
            <div class="company_info_image">
                <div id="company_logo_valid">
                    <!-- <img src="" id="comapny_logo" alt="" height="100px" width="100px"> -->
                </div>
                
            </div>
            <div class="company_info_data">
                <div class="grid_container">
                    <div class="grid_item1 top_border_grid">Company Name</div>
                    <div class="grid_item1">Stock Ticker Symbol</div>
                    <div class="grid_item1">Stock Exchange Code</div>
                    <div class="grid_item1">Company IPO Date</div>
                    <div class="grid_item1">Category</div>
                </div>
    
                <div class="grid_container">
                    <div class="grid_item2 top_border_grid" id="comp_name"></div>
                    <div class="grid_item2" id="stock_tick_sym"></div>
                    <div class="grid_item2" id="stock_ex_code"></div>
                    <div class="grid_item2" id="ipo_date"></div>
                    <div class="grid_item2" id="category"></div>
                </div>
            </div>
            

        </div>

        <div id="stock_summary_tab" class="tabcontent">
            <div id="stock_summary_data">
                <div class="grid_container">
                    <div class="grid_item1 top_border_grid">Stock Ticker Symbol</div>
                    <div class="grid_item1">Trading Day</div>
                    <div class="grid_item1">Previous Closing Price</div>
                    <div class="grid_item1">Opening Price</div>
                    <div class="grid_item1">High Price</div>
                    <div class="grid_item1">Low Price</div>
                    <div class="grid_item1">Change</div>
                    <div class="grid_item1">Change Percent</div>
                </div>

                <div class="grid_container">
                    <div class="grid_item2 top_border_grid" id="stock_ticker_symbol"></div>
                    <div class="grid_item2" id="trading_day"></div>
                    <div class="grid_item2" id="previous_closing_price"></div>
                    <div class="grid_item2" id="opening_price"></div>
                    <div class="grid_item2" id="high_price"></div>
                    <div class="grid_item2" id="low_price"></div>
                    <div class="grid_item2" id="change"></div>
                    <div class="grid_item2" id="change_percent"></div>
                </div>

            </div>
            <div id="recommendation_trends">
                <div class="strong_sell">Strong Sell</div>
                <div id="recommend_val1" class="recomm_val"></div>
                <div id="recommend_val2" class="recomm_val"></div>
                <div id="recommend_val3" class="recomm_val"></div>
                <div id="recommend_val4" class="recomm_val"></div>
                <div id="recommend_val5" class="recomm_val"></div>
                <div class="strong_buy">Strong Buy</div>

            </div>
            <div class="recommendation_trends_text">
                Recommendation Trends
            </div>

        </div>


        <div id="charts_tab" class="tabcontent">

            <div id="chart_container"></div>
        </div>

        <div id="latest_news_tab" class="tabcontent">
            <!-- <div class="news_container">
                <div class="news_container_left">
                    <img src="" alt="news Image" id="news_image" height="70" width="70">
                </div>
                <div class="news_container_right">
                    <div id="news_headline"></div>
                    <div id="news_date"></div>
                    <a id = "news_url" target="__blank__">See Original Post</a>
                </div>
            </div> -->
        </div>

    </div>

</body>

</html>