<div class="d-flex flex-column align-items-center">
    <div class="stock-search-heading d-flex justify-content-center align-items-center mb-5  w-100">
        STOCK SEARCH
    </div>
    <form class="row flex-column justify-content-center align-items-center mx-auto w-100" [formGroup]="autoCompleteForm"
        (ngSubmit)="loadStockDetails(tickerSymbol)">

        <div class="input-stock d-flex justify-content-center align-items-center col-md-3 col-8">
            <!-- <input matInput id="tickerSymbol" name="tickerSymbol" placeholder="Enter Stock Ticker Symbol"
                [(ngModel)]="tickerSymbol" (keyup.enter)="loadStockDetails1()" class="input-area w-100"
                formControlName="tickerInput"> -->

            <input matInput id="tickerSymbol" name="tickerSymbol" placeholder="Enter Stock Ticker Symbol"
                [(ngModel)]="tickerSymbol" (keyup.enter)="loadStockDetails(tickerSymbol)" class="input-area w-100"
                formControlName="tickerInput" [matAutocomplete]="auto" required>
            <!-- <div *ngIf="showSuggestions"> -->
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngIf="isLoading" class="is-loading">
                        <mat-spinner diameter="50"></mat-spinner>
                    </mat-option>
                    <ng-container *ngIf="!isLoading">
                        <mat-option *ngFor="let company of autoSuggestionsArray" [value]="company"
                            (click)="loadStockDetails(company)">
                            <span>{{ company.displaySymbol }}</span>
                            <small> | {{company.description}}</small>
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            <!-- </div> -->



            <button type="submit" class="search-button btn-xs"><i class="bi bi-search"></i>
            </button>
            <button type="button" class="cancel-button btn-lg" (click)="clearSearchDetails()">
                <i class="bi bi-x"></i>
            </button>
        </div>

    </form>

    <div *ngIf="searchButtonClicked">
        <app-search-details [tickerSymbol]="tickerSymbol" [changing]="changingValue"></app-search-details>
    </div>


</div>