.portfolio-heading{
    /* padding-top: 30px; */
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.portfolio-money{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.main-div{
    /* margin-top: 30px; */
    line-height: 0.8;  
} 

.transaction-close{
    float: right;
}

.color-red{
    color: red;
}

.color-green{
    color: green;
}