.page-footer{
    /* position: fixed; */
    /* margin-top: -150px; */
    /* position: absolute;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%; */
    /* Height of the footer*/ 
    /* height: 40px; */
    background-color: #dddddd;
    text-align: center;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
    padding-top: 7px;
    width: 100%;
    }