.content {
    background-color: white;
  }
  
  .watchlist-heading {
    font-size: 20px;
    font-weight: 500;
  }
  
  .company-ticker {
    font-size: 22px;
    font-weight: 500;
  }
  
  .company-name {
    font-size: 16px;
    /* font-weight: 500; */
    margin-top: 8px;
  }
  
  .cancel-button {
    float: right;
    color: #6d767d;
    z-index: 2;
    line-height: 1;
  }
  
  .latest-price {
    font-size: 22px;
    font-weight: 500;
    border-bottom: 10px;
  }
  
  .change-price {
    font-size: 16px;
    margin-top: 8px;
    /* font-weight: 500; */
  }