<ng-template #content let-modal id="modal-backdrop" class="modal-backdrop">
    <div class="modal-header">
        <div class="modal-title" id="modal-basic-title">{{currentNews.source}}<span><button type="button"
                    class="news-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button></span></div>

        <div>{{currentNews.datetime}}</div>

    </div>
    <div class="modal-body">
        <div class="news-headline">{{currentNews.headline}}</div>
        <div>{{currentNews.summary}}</div>
        <div class="news-url">
            <span>For more details click </span> <a href="{{currentNews.url}}" target="_blank">here</a>
        </div>
    </div>
    <div class="news-social">
        <p>Share</p>
        <div class="news-social-buttons d-flex border">
            <div>
                <a class="twitter-share-button" target="_blank"
                    href="https://twitter.com/intent/tweet?text={{currentNews.url}}">
                    <fa-icon [icon]="faTwitter" class="fa-2x"></fa-icon>
                </a>
            </div>
            <div>
                <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/"
                    data-layout="button_count" data-size="small"><a target="_blank"
                        href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse"
                        class="fb-xfbml-parse-ignore">
                        <fa-icon [icon]="faFacebook" class="fa-2x"></fa-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<p>search-details works!</p>
Ticker Symbol : {{tickerSymbol}}
<br>
ICON: <fa-icon [icon]="faFacebook"></fa-icon>

<!-- <div class="background-div">
        <img src="../../../assets/background-graph.jpg" height="100%" width="100%">
    </div> -->
<div>
    TSLA image: <img src={{companyDescription.logo}}>
</div>

<div class="lolly">
    <div class="search-output row d-flex justify-content-center">
        <div class="company-details col-12 col-md-8 d-flex justify-content-center" *ngIf="companyDescription">

            <div class="company-name col-4 col-md-4">
                <div class="comp-ticker d-flex mb-0">{{companyDescription.ticker}} <div class="star-icon pl-1"
                        (click)="addToWatchlist()"><i class="bi bi-star" *ngIf="display_star">StarEmpty</i><i
                            class="bi bi-star-fill" *ngIf="display_filled_star">StarFilled</i></div>
                </div>
                <div class="comp-name my-0">{{companyDescription.name}}</div>
                <div class="comp-exchange">{{companyDescription.exchange}}</div>
                <!-- <button type="button" class="btn btn-success mt-2" *ngIf="buy_button"
                    (click)="openPorfolioBuy(portfolioModal,'buy')">Buy</button>
                <button type="button" class="btn btn-danger mt-2" *ngIf="sell_button"
                    (click)="openPorfolioSell(portfolioModal,'sell')">Sell</button> -->
            </div>
            <div class="company-logo col-4 col-md-4 text-center">
                <img src="{{companyDescription.logo}}" class="comp-logo">
            </div>
            <div class="stock-details col-4 col-md-4" *ngIf="stockPrice"> 
                <div class="stock-positive" *ngIf="change_percent">
                    <div class="curr-price">{{stockPrice.c | number:'1.2-2'}}</div>
                    <div class="change-price"><i class="bi bi-caret-up-fill"></i>{{stockPrice.d |
                        number:'1.2-2'}}({{stockPrice.dp | number:'1.2-2'}}%)</div>
                </div>
                <div class="stock-negative" *ngIf="change_percent === false">
                    <div class="curr-price">{{stockPrice.c | number:'1.2-2'}}</div>
                    <div class="change-price"><i class="bi bi-caret-down-fill"></i>{{stockPrice.d |
                        number:'1.2-2'}}({{stockPrice.dp | number:'1.2-2'}}%)</div>
                </div>
                <div class="timestamp">{{timestamp}}</div>
            </div>


        </div>

    </div>
</div>

<div class="row">

    <div class="col-md-2 col-1"></div>
    <div class="tabsDiv col-md-8 col-10">
        <mat-tab-group mat-stretch-tabs mat-align-tabs="start">

            <mat-tab label="Summary"> Lolly
                <div class="all-element col-12 col-md-12 d-flex">

                    <div class="first-element col-12 col-md-6">
                        <div class="latest-price col-12 col-md-6">
                            <table>
                                <tr>
                                    <th>High Price:</th>
                                    <td class="latest-price-value">{{stockPrice.h | number:'1.2-2'}}</td>

                                </tr>
                                <tr>
                                    <th>Low Price:</th>
                                    <td class="latest-price-value">{{stockPrice.l | number:'1.2-2'}}</td>

                                </tr>
                                <tr>
                                    <th>Open Price:</th>
                                    <td class="latest-price-value">{{stockPrice.o | number:'1.2-2'}}</td>

                                </tr>
                                <tr>
                                    <th>Prev. Close:</th>
                                    <td class="latest-price-value">{{stockPrice.pc | number:'1.2-2'}}</td>

                                </tr>
                            </table>
                        </div>
                        <div class="about-heading">About the company</div>

                        <div class="about-data">
                            <div class="about"><span class="about-value">IPO Start Date:
                                </span>{{companyDescription.ipo}}</div>
                            <div class="about"><span class="about-value">Industry:
                                </span>{{companyDescription.finnhubIndustry}}</div>
                            <div class="about"><span class="about-value">Webpage: </span><a
                                    href="{{companyDescription.weburl}}"
                                    target="_blank">{{companyDescription.weburl}}</a></div>
                            <div class="about"><span class="about-value">Company Peers: </span></div>
                            <div class="about"><span *ngFor="let peer of companyPeers let isLast=last">
                                    <a class="peerLink" (click)="peerCall(peer)">{{peer}}{{isLast ? '' : ', '}}</a>

                                </span></div>

                        </div>
                    </div>
                    <div class="second-element col-md-6" *ngIf="showChart">
                        <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptionsSummary"
                            style="width: 100%; height: 300px; display: block;"></highcharts-chart>
                    </div>

                </div>
            </mat-tab>



            <mat-tab label="Top News">
                <div class="top-news-vals" *ngIf="isNewsLoaded">
                    <!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Open My Modal</button> -->
                    <div class="cardGroup d-flex" *ngFor="let newsItem of newsData20">
                        <div class="col-md-6 pl-0">
                            <div class="card mb-3 d-flex flex-row col-md-12 card-news"
                                (click)="open(content, newsItem[0])">
                                <div class="d-flex align-items-center">
                                    <img class="card-img" src={{newsItem[0].image}} alt="Card image cap" width="40px"
                                        height="40px">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{newsItem[0].headline}}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 pr-0" *ngIf="newsItem[1].length != 0">
                            <div class="card mb-3 d-flex flex-row col-md-12 card-news"
                                (click)="open(content, newsItem[1])">
                                <div class="d-flex align-items-center">
                                    <img class="card-img" src={{newsItem[1].image}} alt="Card image cap" width="40px"
                                        height="40px">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{newsItem[1].headline}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </mat-tab>
            <mat-tab label="Charts">
                <div class="main-chart d-flex col-12 col-md-12" *ngIf="showMainChart">
                    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptionsMain" class="hisChart">
                    </highcharts-chart>
                </div>
            </mat-tab>
            <mat-tab label="Insights" class="row">
                <div class="social-sent-heading">
                    Social Sentiments
                </div>
                <div class="social-sent-table col-md-6 col-12 d-flex justify-content-center">
                    <table>
                        <tr class="social-tab-row social-color-grey">
                            <td class="social-col1">{{companyDescription.name}}</td>
                            <td class="social-col2">Reddit</td>
                            <td class="social-col2">Twitter</td>
                        </tr>
                        <tr class="social-tab-row">
                            <td class="social-color-grey">Total Mentions</td>
                            <td>{{totalMentionRed}}</td>
                            <td>{{totalMentionTwit}}</td>
                        </tr>
                        <tr class="social-tab-row">
                            <td class="social-color-grey">Positive Mentions</td>
                            <td>{{positiveMentionRed}}</td>
                            <td>{{positiveMentionTwit}}</td>
                        </tr>
                        <tr class="social-tab-row">
                            <td class="social-color-grey">Negative Mentions</td>
                            <td>{{negativeMentionRed}}</td>
                            <td>{{negativeMentionTwit}}</td>
                        </tr>
                    </table>
                </div>

                <div class="insights-charts d-flex justify-content-center row">
                    <div class="recomm-trends col-md-5" *ngIf="isChartLoaded">
                        <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
                            style="display: block; height: 380px; width: 380px; "></highcharts-chart>
                    </div>
                    <div class="historic-eps col-md-5" *ngIf="isChartLoadedHistorical">
                        <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptionsHistorical"
                            style="display: block; height: 380px; width: 380px;"></highcharts-chart>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>

    </div>
    <div class="col-md-2 col-1"></div>
</div>


<!-- <ng-template #modal [modalConfig] = "modalConfig">

</ng-template> -->