/* .background-div{
    position: relative;
    opacity: 0.2;
}

.body-div{
    position: absolute;
    top: 500px;
} */

body {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../../../assets/background-graph.jpg");
  width: 100%;
  /* height: 1000px; */
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: lighten !important;
}

.modal-header {
  display: block;
  line-height: 0.6;
}

.latest-price {
    flex: 0;
  }

.company-ticker{
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;
}
.company-ticker i {
  font-size: 18px;
}

.company-name {
  font-size: 22px;
  color: #6d767d;
}

.company-exchange {
  color: #6d767d;
}

.news-close {
  float: right;
}
.news-url {
  font-size: 12px;
  font-weight: 300;
}
.modal-title {
  font-size: 30px;
}
.news-headline {
  line-height: 1.3;
  word-spacing: -1px;
  font-size: 16px;
  font-weight: 500;
}

.tabsDiv {
  display: flex;
  justify-content: center;
  /* width: 100%; */
}

.card-news {
    cursor: pointer;
    height: 40px;
  }
  
.card-img {
    width: 60px;
    height: 40px;
 }

.social-sent-heading {
  display: flex;
  justify-content: center;
  margin: 8px;
  font-weight: 500;
  font-size: large;
}
.social-sent-table {
  /* display: flex;
    justify-content: center;
    text-align: center;
    font-size: 15px; */
  /* margin: 0 30px */
}
.social-tab-row{
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    height: 36px;
}
.social-color-grey {
  background-color: rgb(224, 225, 228);
  font-weight: 500;
}
